<div class="row">

</div>

<div class="row">
    <div class="col-sm-3 mx-auto mt-4">
        <div id="datepicker">
            <input size="16" align="center" type="text-center" class="form-control" id="date" readonly>
        </div>
    </div>
    <div class="col-sm-9 mx-auto mt-4 my-custom-scrollbar" id="all-partidos">
    </div>
</div>