<div class="row">
    <div class="col mx-auto mt-4">
        <center><h4>Posiciones</h4></center>
    </div>
</div>
<div class="row">
    <div class="col-sm-3 mx-auto mt-2">
        <div id="datepicker">
            <input size="16" align="center" type="text-center" class="form-control" id="date" readonly>
        </div>
    </div>
    <div class="col-sm-9 mx-auto mt-2">
        <div class="table-wrapper-scroll-y my-custom-scrollbar mt-20">
            <div class="table-responsive">
                <table class="table table-sm table-bordered table-striped">
                    <thead class="thead-dark" align="center">
                        <tr>
                            <th>Posicion</th>
                            <th>Equipo</th>
                            <th>Ganados</th>
                            <th>Carreras</th>
                            <th>Home Runs</th>
                            <th>Perdidos</th>
                        </tr>
                    </thead>
                    <tbody id="posiciones-table" align="center">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>