<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 mt-2">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-1">Baseball Simulator <year id="year"></year> © Copyright. Developed
        with
        <i class="far fa-heart"></i> by: <a href="https://github.com/LuisFuenTech">Luis Fuentes</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->