<nav class="navbar sticky-top navbar-expand-lg navbar-dark cyan darken-3">
    <div class="container">
        <a class="navbar-brand" href="/main">Inicio</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
            aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="basicExampleNav">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href='/cliente/posiciones'>Posiciones</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href='/cliente/partidos'>Partidos</a>
                </li>

            </ul>
        </div>
    </div>
</nav>